.banner {
  height: 700px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/wood-wallpaper-6.jpg) no-repeat no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        h2 {
          text-align: center;
          color: $orange-font;
          font-family: 'Josefin Slab', serif;
        }

        .contact-wrapper {
          width: 100%;
          text-align: center;
          a h2 {
            font-family: 'Josefin Slab', serif;
            text-align: center;
            color: $light-grey;
            width: 25%;
            display: inline-block;
            text-decoration: underline;
            &:hover {
              color: $light-orange
            }
          }
        }
        .name {
          color: $tan;
          margin: 1%;
          font-size: 4vmax;
        }
        .self-title {
          margin: 0;
          font-size: 3vmax;
        }
      }

        .banner-wrapper {
          margin-top: 140px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          .banner-pic {
              background: url(../images/hipsterlogogenerator_1433019727585.png) no-repeat fixed;
              background-size: 400px 400px;
              background-color: $background-color;
              background-position: 50% 8vmax;
              display: inline-block;
              width: 300px;
              height: 300px;
              border-radius: 100%;
              border: 2px solid $tan;

          }
        }
