.banner {
  height: 700px;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/wood-wallpaper-6.jpg) no-repeat no-repeat fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/wood-wallpaper-6.jpg) no-repeat no-repeat fixed;
  background-size: cover;
  -webkit-transition: all 2s;
          transition: all 2s;

        h2 {
          text-align: center;
          color: $orange-font;
          font-family: 'Josefin Slab', serif;
        }

        .contact-wrapper {
          width: 100%;
          height: 25%;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end;
          text-align: center;
          margin: 10px;
          a h2 {
            font-family: 'Josefin Slab', serif;
            text-align: center;
            color: $grey-font;
            width: 25%;
            display: inline-block;
            text-decoration: underline;

            &:hover {
              color: $light-orange
            }
          }
        }
        .name {
          color: $tan;
          margin: 1%;
          font-size: 4vmax;
        }
        .self-title {
          margin: 0;
          font-size: 3vmax;
        }
      }

        .banner-wrapper {
          height: 65%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
          .banner-pic-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            .banner-pic {
                width: 300px;
                border-radius: 100%;
                border: 2px solid $tan;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                .pic {
                  background: url(../images/hipsterlogogenerator_1433019727585.png) no-repeat no-repeat fixed;
                  background-position-x: 50%;
                  background-position-y: 15%;
                  background-size: 400px 400px;
                  width: 300px;
                  height: 300px;
                  border-radius: 100%;
                }

            }
          }
        }
