.photo-text-wrapper{
  text-align: center;
  h1 {
    color: $light-grey;
    font-size: 10vmax;
    margin: 0;
  }
  h5 {
    color: $orange-font;
    font-size: 2.5vmax;
    margin: 0;
  }
}

.contact {
  position: absolute;
  top: 0;
  left: 5px;
}


.about-me-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  height: 700px;
  .about-me-info {
    width: 50%;
    float: left;
    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

  .about-me-photo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Boards-Ready-to-Dry.jpg) no-repeat no-repeat fixed;
    height: 700px;
    width: 50%;
    float: right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*   -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); */
  }
}

.portfolio-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  height: 700px;
  .portfolio-info {
    width: 50%;
    height: 100%;
    float: right;
    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0
    }
  }

  .portfolio-photo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/stacked_wood.jpg) no-repeat no-repeat fixed;
    height: 700px;
    width: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.truckster-wrapper {
  height: 30%;
  background-color: #00DFFC;
  margin: 1%;

  .truckster-info {

  }
  .truckster-pic {

  }
}

.bars-and-stripes-wrapper {
  height: 30%;
  background-color: #002566;
  margin: 1%;

  .bars-and-stripes-info {

  }
  .bars-and-stripes-pic {

  }
}

.battle-ballot-wrapper {
  height: 30%;
  background-color: #2779AA;
  margin: 1%;

  .battle-ballot-info {

  }
  .battle-ballot-pic {

  }
}

.experience-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  height: 700px;
  .experience-info {
    width: 50%;
    float: left;
    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

  .experience-photo {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pile-of-reclaimed-wood.jpg) no-repeat no-repeat fixed;
    height: 700px;
    width: 50%;
    float: right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*   -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px); */
  }
}
