.photo-text-wrapper{
  text-align: center;
  h1 {
    color: $light-grey;
    font-size: 7vmax;
    margin: 0;
  }
  h5 {
    color: $orange-font;
    font-size: 2.5vmax;
    margin: 0;
  }
}

.contact {
  position: absolute;
  top: 0;
  left: 5px;
}


.about-me-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  min-height: 700px;
  transition: all 2s;

  .about-me-info {
    width: 50%;
    float: left;
    transition: all 2s;

    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0;
      transition: all 2s;

    }
  }

  .about-me-photo {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Boards-Ready-to-Dry.jpg) no-repeat no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Boards-Ready-to-Dry.jpg) no-repeat no-repeat fixed;
    min-height: 700px;
    width: 50%;
    float: right;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            transition: all 2s;

  }
}

.portfolio-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  height: 700px;
  transition: all 2s;

  .portfolio-info {
    width: 50%;
    float: right;
    transition: all 2s;

    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0;
      transition: all 2s;

    }
  }

  .portfolio-photo {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/stacked_wood.jpg) no-repeat no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/stacked_wood.jpg) no-repeat no-repeat fixed;
    min-height: 700px;
    width: 50%;
    float: left;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            transition: all 2s;

  }
}

.project-wrapper {
  height: 210px;
  background-color: $grey-font;
  margin: 1%;
  transition: all 2s;
  font-size: 1.4vmax;


  .project-info {
    float: right;
    width: 49%;
    h3, p {
      width: 90%;
    }
  }
  .project-pic {
    float: left;
    width: 49%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    a {
      width: 90%
    }
    img {
      border: 2px solid $background-color;
      width: 100%;
      &:hover {
        border: 3px solid $orange-font;
        transition: ease 1s;
      }
    }
  }
}

.experience-wrapper {
  font-family: 'Josefin Slab', serif;
  width: 100%;
  min-height: 700px;
  transition: all 2s;

  .experience-info {
    width: 50%;
    float: left;
    transition: all 2s;

    h1 {
      background-color: $light-grey;
      color: $grey-font;
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }

  .experience-photo {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pile-of-reclaimed-wood.jpg) no-repeat no-repeat fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pile-of-reclaimed-wood.jpg) no-repeat no-repeat fixed;
    min-height: 700px;
    width: 50%;
    float: right;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            transition: all 2s;

  }
}
