.navbar {
  box-shadow: 2px 2px 2px $light-grey;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  color: $grey-font;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: .95;
  font-family: 'Josefin Slab', serif;

  .navbar-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    color: $grey-font;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .social-wrapper {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    font-size: 2vmax;
  }

  .navbar-btn {
    display: inline-block;
    margin: 1.5vmax;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    background-color: $background-color;
    color: $grey-font;
    margin: 1.5vmax;
    font-size: 2vmax;
    text-align: center;


    &:hover {
      color: $light-orange;
      text-decoration: none;
      opacity: .5;
    }
  }
}
