.nav-show-button {
  text-align: center;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
  button {
    width: 50px;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: .3;
    &:hover {
      opacity: .7;
      border-right-color: $light-orange;
      border-bottom-color: $light-orange;
      color: $light-orange;
      transition: ease .5s;
    }
  }
}
.navbar {
  border: 1px solid $grey-font;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  color: $grey-font;
  font-family: 'Josefin Slab', serif;

  .navbar-wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    color: $grey-font;
  }

  .social-wrapper {
    height: 100%;
  }

  .navbar-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    background-color: $background-color;
    color: $grey-font;
    margin: 1.5vmax;
    font-size: 24px;
    text-align: center;
    height: 50px;
    width: 100%;
    &:hover {
      color: $orange-font;
      text-decoration: none;
      border-bottom: 2px solid $orange-font;
      transition: ease .5s;
    }
  }
}
