@media (max-width: 1250px) {

  .banner .contact-wrapper {
    a h2 {
      margin: 5px;
      width: 100%;
      font-size: 24px;
    }
  }
}

@media (min-width: 1000px) {
  .project-wrapper {
    font-size: 1vmax;
  }
}

@media (max-width: 1000px) {
  .about-me-wrapper .about-me-info h2 {
      font-size: 26px;
    }
}

@media (max-width: 800px) {
  .about-me-wrapper .about-me-info h2 {
      font-size: 21px;
  }
}


@media (max-width: 600px) {
  .banner{
    /* background: $background-color; */
    .banner-wrapper .banner-pic-wrapper .banner-pic .pic {
      background-position-x: center;
      background-position-y: .5%;
    }
  }

.photo-text-wrapper{
  h1 {
    color: $background-color;
  }
}

.about-me-wrapper {
  .about-me-info {
    width: 100%;
    float: none;
    transition: all 2s;
    h2{
    font-size: 18px;
  }
  }
  .about-me-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    color: $background-color;
    transition: all 2s;

  }
}
.portfolio-wrapper {
  .portfolio-info {
    width: 100%;
    float: none;
    transition: all 2s;
  }
  .portfolio-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    transition: all 2s;

  }
}

.project-wrapper {
  padding: 1%;
  .project-info {
    h3, p {
      width: 90%;
      font-size: 2.2vmax;
    }
  }
  .project-pic {
    height: 100%;
    a {
      width: 90%;
      height: 100%;
    }
     img {
      border: 2px solid $background-color;
      height: 100%
    }
  }
}

.experience-wrapper {
  .experience-info {
    width: 100%;
    min-height: 300px;
    float: none;
    transition: all 2s;

    .full-screen {
      margin-right: 5%;
    }
  }
  .experience-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    transition: all 2s;
  }
}
}
