@media (max-width: 1250px) {

  .banner .contact-wrapper {
    a h2 {
      margin: 5px;
      width: 100%;
      font-size: 24px;
    }
  }
}

@media (min-width: 1000px) {
  .project-wrapper {
    font-size: 1vmax;
  }
}

@media (max-width: 1000px) {
  .about-me-wrapper .about-me-info h2 {
      font-size: 26px;
    }
}

@media (max-width: 800px) {
  .about-me-wrapper .about-me-info h2 {
      font-size: 21px;
  }
}


@media (max-width: 600px) {
  .banner{
    background-size: 100% 10%;
    .banner-pic-wrapper {
      -webkit-transform: scale(.7);
          -ms-transform: scale(.7);
              transform: scale(.7);
    }
    .banner-wrapper .banner-pic-wrapper .banner-pic .pic {
      background-position-x: center;
      background-position-y: .005%;
    }
  }
  .scroll-button {
    font-size: 18px;
  }

  #top-button  .fa-angle-double-up {
    font-size: 32px;
  }

.photo-text-wrapper{
  h1 {
    color: $background-color;
  }
}

.about-me-wrapper {

  .about-me-info {
    width: 100%;
    float: none;
    -webkit-transition: all 2s;
            transition: all 2s;
    h2{
    font-size: 18px;
    }
    #build-a-purpose {
      font-size: 32px;
    }
    .about-me-body-wrapper {
      width: 100%;
    }
  }
  .about-me-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $white-grey;
    color: $background-color;
    -webkit-transition: all 2s;
            transition: all 2s;

  }
}
.portfolio-wrapper {
  height: 300vh;
  .portfolio-info {
    width: 100%;
    height: 200vh;
    float: none;
    -webkit-transition: all 2s;
            transition: all 2s;
  }
  .portfolio-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $white-grey;
    -webkit-transition: all 2s;
            transition: all 2s;

  }
}

.project-wrapper {
  padding: 1%;
  height: 60vh;
  .project-info {
    width: 100%;
    height: 50%;
    display: inline-block;
    h3, p, h4 {
      width: 90%;
      font-size: 2.2vmax;
      margin: 3%;
    }
    h3 {
      font-size: 24px;
    }
  }

  .project-pic {
    width: 100%;
    height: 50%;
    a {
      width: 90%;
    }
     img {
      border: 2px solid $background-color;
    }
  }
}

.experience-wrapper {
  .experience-info {
    width: 100%;
    min-height: 300px;
    float: none;
    -webkit-transition: all 2s;
            transition: all 2s;

    .full-screen {
      margin-right: 5%;
    }
  }
  .experience-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $white-grey;
    -webkit-transition: all 2s;
            transition: all 2s;
  }
}
}
