
@media (max-width: 1250px) {
  .banner{
    .contact-wrapper {
      a h2 {
        margin: 5px;
        width: 100%;
        font-size: 24px;

      }
    }
  }
}


@media (max-width: 600px) {
.banner{
  background: $background-color;

  .contact-wrapper {
    a h2 {
      width: 100%;
      font-size: 4vmax;
      transition: all 2s;
    }
  }
  .banner-wrapper {
    border-top: 2px solid $tan;
    border-bottom: 2px solid $tan;
    margin-top: 90px;
    transition: all 2s;

    .banner-pic {
      border: none;
      border-radius: 0;
      transition: all 2s;

    }
  }
}

.about-me-wrapper {
  .about-me-info {
    width: 100%;
    height: 300px;
    float: none;
    transition: all 2s;

  }
  .about-me-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    transition: all 2s;

  }
}
.portfolio-wrapper {
  .portfolio-info {
    width: 100%;
    height: 300px;
    float: none;
    transition: all 2s;
  }
  .portfolio-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    transition: all 2s;

  }
}

.project-wrapper {
  height: 400px;
  .project-info {
    width: 100%;
    h3, p {
      width: 90%;
      font-size: 2vmax;
    }
  }
  .project-pic {
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: 2px solid $background-color;
      width: 90%;
    }
  }
}

.experience-wrapper {
  .experience-info {
    width: 100%;
    height: 300px;
    float: none;
    transition: all 2s;

  }
  .experience-photo {
    width: 100%;
    min-height: 300px;
    float: none;
    background: $grey-font;
    transition: all 2s;
  }
}
}
