$orange-font: #BB6B0C;
$light-orange: #FF9828;
$grey-font: #B5B1AC;
$light-grey: #6D6B69;
$background-color: #595959;
$dark-teal: #0081B2;
$light-teal: #28C4FF;
$tan: #C3AC91;

@import "entirePage.scss";
@import "navbar.scss";
@import "bannerPage.scss";
@import "responsive.scss";

* {
  box-sizing: border-box;
}



body {
  margin: 0;
  background-color: $background-color;
}
