$orange-font: #FF8704;
$light-orange: #FF9828;
$grey-font: #B5B1AC;
$background-color: #595959;
$dark-teal: #0081B2;
$light-teal: #28C4FF;

@import "entirePage.scss";
@import "navbar.scss";
@import "profilePicture.scss";
