$orange-font: #BB6B0C;
$light-orange: #FF9828;
$grey-font: #B5B1AC;
$light-grey: #6D6B69;
$background-color: #595959;
$dark-teal: #0081B2;
$light-teal: #28C4FF;
$tan: #C3AC91;

* {
  box-sizing: border-box;
}

body {
background-color: $grey-font;
}

.resume-wrapper {
  width: 75%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: 'Josefin Slab', serif;
}

.header {
  background-color: $background-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .name {
    color: $grey-font;
    width: 100%;
    margin: 1%;
  }
  .self-title {
    width: 100%;
    margin: 1%;
    color: $orange-font;
  }
  .contact-information {
    width: 100%;
    margin: .5%;
    color: $grey-font;
    h3 {
      margin: 0;
    }
  }
  .resume-social-wrapper {
    width: 100%;
  }
  .button-wrapper {
    display: block;
    width: 100%;
    margin: 1%;
    .button {
      float: right;
      margin-right: 5px;
      button {
        border-radius: 3px;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .printer, .home {
        width: 100%;
      }
    }
  }
}

.resume-content {
  padding: 2%;
  .inline-block {
    display: inline-block;
    width: 49%;
  }
}

@media (max-width: 600px) {
    .resume-wrapper {
      width: 100%;
    }
    .button-wrapper {
      text-align: center;
    }
    .resume-content {
      .inline-block {
        width: 100%;
      }
    }
  }

.category-heading {
  font-size: 24px;
  font-weight: bolder;
  margin: 5px;
}

.sub-category-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.school, .dates {
  margin: 0;
}
